{% extends "base.html" %}

{% block content %}

<form action="/medicos/store"
method="POST">

    <input
    type="text"
    name="nombre"
    class="form-control mb-2"
    placeholder="nombre"
    required>

    <input
    type="text"
    name="especialidad"
    class="form-control mb-2"
    placeholder="especialidad"
    required>

    <input
    type="text"
    name="telefono"
    class="form-control mb-2"
    placeholder="telefono">

    <input
    type="email"
    name="correo"
    class="form-control mb-2"
    placeholder="correo">

    <button
    class="btn btn-success">
    guardar
    </button>

</form>

{% endblock %}